.single-comic-container {
    .blue-row {
        height: 80px;
        background-color: $blue;
        .inner-row {
            position: relative;
            height: 100%;
            .single-comic-thumb {
                position: absolute;
                bottom: 1em;
                left: 0;
                .img-box {
                    border: 1px solid white;
                    position: relative;
                    .top-bagde,
                    .bottom-bagde {
                        background-color: $badgeBg;
                        color: white;
                        text-transform: uppercase;
                        font-size: 0.8em;
                        padding: 0.3em;
                        a {
                            color: white;
                        }
                    }
                    .top-bagde {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .bottom-bagde {
                        width: 100%;
                        text-align: center;
                        position: absolute;
                        bottom: 0px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
    .shop-comic {
        margin-top: 5em;
        margin-bottom: 5em;
        gap: 2em;
        .left-side {
            .single-title {
                text-align: start;
                text-transform: uppercase;
                font-size: 0.8em;
            }
            .shop-details {
                height: 50px;
                margin: 1em 0;
                justify-content: space-around;
                border-bottom: 1px solid black;
                color: white;
                background-color: $greenLabelBg;
                .inner-shop-details {
                    justify-content: space-between;
                    padding: 0 2em;
                    .price {
                        span {
                            opacity: 0.8;
                        }
                    }
                    .available {
                        text-transform: uppercase;
                        opacity: 0.8;
                    }
                }
                .check {
                    width: 30%;
                    height: 100%;
                    justify-content: center;
                    border-left: 1px solid black;
                    span {
                        color: white;
                        text-transform: capitalize;
                    }
                }
            }
            .description {
                text-align: start;
            }
        }
        .right-side {
            width: 30%;
            h4 {
                padding-right: 5px;
                margin-bottom: 0.2em;
                text-align: end;
                text-transform: uppercase;
            }
        }
    }
    .comic-spec {
        padding-top: 2em;
        background-color: $specsBg;
        .inner-spec {
            align-items: unset;
            gap: 3em;
            a {
                text-transform: capitalize;
                color: $specText;
            }
            .left-side-spec,
            .right-side-spec {
                width: 50%;
                h2 {
                    font-size: 1.2em;
                    margin-bottom: 1em;
                    text-transform: capitalize;
                    color: black;
                }
                h3 {
                      font-size: 0.8em;   
                        
                }
            }
            .left-side-spec {
                .art, 
                .writers {
                    padding: 0.5em;
                    justify-content: space-between;
                }
                .art {
                    border-top: 1px solid grey;
                    border-bottom: 1px solid grey;
                    .artist {
                      margin: 0;  
                      padding: 0 1em;
                    }
                }
                .writers {
                    border-bottom: 1px solid grey;
                    .writer {
                        margin: 0; 
                        padding: 0 1em;
                    }
                }
            }
            .right-side-spec {

               .series,
               .us-price,
               .sale {
                   padding: 0.5em;
                   align-items: center;
                   
                   border-top: 1px solid black;
               } 
               .series {
                   a {
                       font-size: 0.9em;
                       text-transform: uppercase;
                   }
               }
               .sale {
                   border-bottom: 1px solid black;
               }
            }
        }
        .shop-link-container {
            height: 80px;
            margin-top: 7em;
            border-top: 1px solid lightgrey;
            .inner-shop-link-container {
                height: 100%;
                justify-content: center;
                .shop-link-box {
                    justify-content: space-between;
                    flex-basis: calc(100% / 4);
                    height: 100%;
                    padding: 0 1.5em;
                    border-right: 1px solid lightgrey;
                    h3 {
                        align-self: flex-start;
                        font-size: 0.9em;
                        padding-top: 0.8em;
                        color: grey;
                    }
                    &:first-of-type {
                        border-left: 1px solid lightgrey;
                       #digital-phone {
                            width: 35px;
                            height: 37px;
                            background: url(/images/cta-icons.png) 0px 0px;
                       }
                    }
                }
                #shop-comics {
                    width: 41px;
                    height: 37px;
                    background: url(/images/cta-icons.png) 38px 0px;
                }
                #locator {
                    width: 35px;
                    height: 37px;
                    background: url(/images/cta-icons.png) 73px 0px;
                }
                #sub {
                    width: 43px;
                    height: 37px;
                    background: url(/images/cta-icons.png) 115px 0px;
                }
            }
        }
    }
}